/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
  --Playfair: 'Playfair Display', serif;
  --Quicksand: 'Quicksand', sans-serif;
  --Roboto: 'Roboto', sans-serif;
  --dark: #474747;
  --exDark: #2b2b2b;
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; 
}
body{
  background: url(https://img.freepik.com/premium-photo/coffee-beans-background-roasted-coffee-beans-dark-black-stone-background-top-view-coffee-concept-mock-up_253362-15553.jpg?w=2000) center/cover no-repeat fixed;
  
}

.container{
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1.2rem;}


header{
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border: #2b2b2b;

}

header .inner{
  width: 1300px; /* This is the inner width of the content inside of your header (80%, etc) */
  height: 3%;
  margin: 0 auto;
  align-items: center;
}


header  .logo{
  position:fixed right;
  color:rgb(0, 0, 0) ;
  margin-top: 10px;
  float: right;
  margin-bottom: 0px;
  border: #eee;
  size: 1ch;
  

}

nav{
  position:absolute;
  left: 0%;
  top: 0;
  bottom: 0;
  height: 150%;
  width: 90px;
  background: rgb(0, 0, 0);
  overflow: hidden;
  transition: 1s;
  box-shadow: 0 0 2px rgba(177, 177, 177, 0.5);
}
nav:hover{
  width: 280px;
  transition: 1s;
}
.logo{
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
  padding-bottom: 3rem;
}

.logo img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.logo span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
a{
  position: relative;
  width: 280px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  display: table;
  padding: 10px;
}
nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 20px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}
a:hover{
  background: rgb(77, 77, 77);
}
a:hover i{
  color: #fbfcfd;
  transition: 0.5s;
}
.logout{
  position: absolute;
  bottom: 0;
}


  

.content{
  margin-left: 10%;
  float: right;
  margin-right: 4%;
  height: 100%;
  background-color: #ffffff;

  
}

.design{
  padding: .5rem 0;
}
.title{
  text-align: center;
  padding: 1rem 0;
}
.title h2{
  font-family: var(--Playfair);
  font-size: 2.4rem;
}
.title p{
  text-transform: uppercase;
  padding: 0.3rem 0;
}
.design{
  padding: 4.5rem 0;
}
.title{
  text-align: center;
  padding: 1rem 0;
}
.title h2{
  font-family: var(--Playfair);
  font-size: 2.4rem;
}
.title p{
  text-transform: uppercase;
  padding: 0.6rem 0;
}
.design-content{
  margin: 2rem 0;
}
.design-item{
  cursor: pointer;
  margin: 1.5rem 0;
}
.design-img{
  position: relative;
  overflow: hidden;
  float: inline-start;

}

.design-img img{
  transition:  all 0.5s ease;
}
.design-item:hover img{
  transform: scale(1.2);
}
.design-img span:first-of-type{
  position: absolute;
  z-index: 1;
  color: #fff;
}
.design-img span:last-of-type{
  position: absolute;
  z-index: 1;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
}
.design-title{
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
}
.design-title a{
  color: var(--dark);
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--Playfair);
}

.video{
  margin-left: 7%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  
  
}

.gmaps{
  margin-left: 7%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 10%;
  background-color: #ffffff;
  text-align: center;

}

.button{
  margin-top: 20%;
  margin-left: 60%;
  font-family: var(--Playfair);
  font-size: 2.2rem;
  color: #fff;
  
}

.Us{
  font-family: var(--Playfair);
  margin: 2%;
  font-size: 1.52.2rem;
  color: rgb(49, 49, 49);
}

.blog{
  text-align: justify;
  -ms-text-kashida-space: 1%;
  
}

.photos{
  width: 1080;
  height: auto;
}